/*	Specific CSS for the index page. */

table {
	/*border: none;*/
	width: 100%;
}

td a {
	text-decoration: none;
	color:#fff;
}

td a:hover {
	color:#ccc;
}

td.right {
	text-align: right;
}

td.left {
	text-align: left;
}

#last {
	margin-bottom: 50px;
}

#temp {
	background: url("../images/doctor-563428_1280.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}