body{
	-webkit-transform: translate3d(0, 0, 0);
}
*{
	-webkit-backface-visibility: hidden;
}

.intro-animation{
	position:absolute;
	height:100vh;
	width:100vw;
	z-index: 10;
	background:#000;
	color:#fff;
	text-align:center;
	font-size:30px;
	display:flex;
	align-items:center;
	opacity:1;
	-webkit-filter: opacity(0.99999);
}
@keyframes hideintro{
	0%{opacity: 1; z-index:10; -webkit-filter: opacity(0.99999);}
	99%{opacity: 0; z-index:10; -webkit-filter: opacity(0);}
	100%{z-index: 0; -webkit-filter: opacity(0);}
}
.intro-animation.hide{
	opacity:0px;
	z-index: 0;
	-webkit-animation:hideintro forwards;
	animation:hideintro forwards;
	-webkit-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in;
	-webkit-filter: opacity(0);
}

.intro-animation span{
	color:#ff6060;
}
.intro-animation .content{
 	width:500px;
 	height:300px;
 	position:relative;
 	margin:0px auto;
}
.intro-animation .logowrapper{
	position:absolute;
	top:;
	width:100%;
	opacity:0;
	transform:translateX(50%);
}
/* The animation code */
@keyframes logowrapper {
    0% {transform:translateX(50%); opacity:0;}
    50% {transform:translateX(50%); opacity:0;}
    80% {opacity:1;}
    100% {transform:translateX(0%);}
}

.intro-animation.start-animation .logowrapper{
	transform:translateX(0%);
	-webkit-animation: logowrapper forwards;
    animation: logowrapper forwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:1;
    -webkit-backface-visibility: hidden;
}

.intro-animation .logowrapper .logo{
	border:3px solid;
	display:inline-block;
	padding:10px 30px;
	font-weight:bold;
	letter-spacing:1px;
}
.intro-animation .full-text{
	position:absolute;
	transform:translateY(0);
	width:100%;
	opacity:0;
}
/* The animation code */
@keyframes fulltext {
    0% {opacity:0; transform:translateY(0);}
    100% {opacity:1; transform:translateY(85px);}
}
.intro-animation.start-animation .full-text{
	-webkit-animation: fulltext forwards;
	animation: fulltext forwards;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity:1;
    transform:translateY(85);
    -webkit-backface-visibility: hidden;
}
.intro-animation .app-title{
	position:absolute;
	top:146px;
	width:100%;
	opacity:0;
	transform:translateY(50%);
}
/* The animation code */
@keyframes apptitle {
	0% {transform:translateY(50%); opacity:0;}
    80% {transform:translateY(50%); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}

.intro-animation.start-animation .app-title{
	transform:translateY(0);
    -webkit-animation: apptitle forwards ;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;
    opacity:1;
    -webkit-backface-visibility: hidden;
}

.intro-animation .enter-button-wrapper{
	position:absolute;
	bottom:0px;
	opacity:0;
	width:100%;
}

/* The animation code */
@keyframes button {
	0% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
.intro-animation.start-animation .enter-button-wrapper{
	opacity:1px;
	-webkit-animation:button forwards;
	animation:button forwards;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-backface-visibility: hidden;
}

.enter-button-wrapper .button{
	color:#000;
	background:#ff6060;
	display:inline-block;
	padding:5px 20px;
	font-size:20px;
	cursor:pointer;
	transition:All .25s;
	border:3px solid #ff6060;
}
.enter-button-wrapper .button:hover{
	background:#000;
	color:#ff6060;
	border:3px solid #ff6060;
}
